@import "fonts";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
button{
  border: none;
}
li{
  list-style: none;
}
img{
  width: 100%;
}

//swiper

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 934px;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.swiper-pagination{
  position: relative;
  top: 0;
  left: 0;
}
.swiper-pagination-bullet{
  width: 11px;
  height: 11px;
  background: green;
}
.swiper-pagination-bullet-active{
  background: #E89F71;
}
.popup{
  display: none;
  position: fixed;
  top: 0;
  background: #E89F7190;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  justify-content: center;
  align-items: center;
  &__block{
    width: 500px;
    height: 500px;
    background: #ffffff;
  }
}
.arsen{
  width: 200px;
  height: 200px;
  background: red;
}
.popup_active{
  display: flex;
}
.text-center{
  text-align: center;
}

.Hauora{
  font-family: Haoura , sans-serif;
}

